**/.idea
**/.vscode
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*onnx*

**/temp

**/dataset
**/data
**/train
**/test

**/.DS_Store

**/*model*
**/*checkpoint*
**/*log*
**/*.h5
**/*.hdf5
**/*.pth
**/*.pt